.create-playlist-form {
    display: flex;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
  }
  
  .form-playlist {
    min-width: 300px;
    width: 400px;
    margin-top: 24px;
  }
  
  .form-playlist__action {
    display: flex;
    justify-content: flex-end;
  }