.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    background-color: rgb(255, 0, 0);
  }

  


  #home {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 0, 0);
  }
  
  .content {
    margin-top: 50px;
    color: rgb(0, 0, 0);
  }
 
  .tracks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    column-gap: 1px;
    row-gap: 10px;
    justify-items: center;
  }
  
  input {
    min-height: 44px;
    border: 1px solid var(--gray);
    border-radius: 30px;
    padding: 4px 16px;
    outline: none;
    transition: border .2s ease-in-out;
  }
  
  input:focus {
    border: 1px solid #000000;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    
  }
  